* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}



.navbar{
    width: 100%;
    justify-content: space-around;
}


body{
    display: grid;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}



a:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }



