* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    padding: 20px;
    font-size: 18px;
}

.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 600px){
    .column {
        width:100%;
    
    }
}

body {
    background-color: aqua;
    background: linear-gradient(blueviolet,rgb(82, 5, 154));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    color: whitesmoke;
    position: relative;
    column-count: 3;
}
