* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
}


body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}



a:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }


.h1,.h5{
    font-family: Cambria;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

