* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





.header{
  
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}



@media screen and (max-width: 600px){
    .column {
        width:100%;
    
    }
}

body {
    background-color: rgb(240, 12, 240);
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title: :before{
    content:'';
    left:0;
    bottom:0;
    position: absolute;
    height: 3px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    max-width: 700px;
    padding:25px 30px;
    width: 100%;
    background:#fff;
    border-radius: 5px;
}

.container form .user-details{
    display:flex;
    margin: 20px 0 12px 0;
    flex-wrap: wrap;
    justify-content: space-between;

}

form .user-details .input-box{
    width: calc(100%/ 2 - 20px);
   margin-bottom:15px;
}

.user-details .input-box .details{
    font-weight:500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-bottom-width: 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
    padding-left:15px;
    font-size:16px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
        border-color:#9b59b6;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;

}

form .gender-details .category{
    width: 80%;
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
  
}

.gender-details .category label{
        display:flex;
        align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: lightblue;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
        border-color:#9b59b6;
        background:#71b7e6;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    color: black;
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #9b59b6, #71b7e6);
}

