* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 50px 50px ;
    place-items: center;
}

.main{
    padding: 20px;
    font-size: 18px;
}

.header{
    font-family: Cambria;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

h1 {
    text-align: left;
    

}

@media screen and (max-width: 600px){
    .column {
        width:100%;
    
    }
}

.table-section {
   
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

body {
    background-color: rgb(236, 178, 17);
    background: linear-gradient(rgb(216, 90, 22),rgb(237, 117, 4));
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 300px;
    padding: 20px;
    color: whitesmoke;
    position: relative;
    column-count: 2;
}